﻿#wrapper {
/*    display: none;*/
}
.loader_main {
    z-index: 9999;
    position: absolute;
    background-color: #f0ad4e;
    padding: 20px;
    bottom: 0;
    left: 40%;
    display: none;
}
.loader_text {
    float: left;
    margin: auto;
    padding: 10px;
}
.loader {
    width: 3em;
    height: 3em;
    border: 0.7em solid rgba(0, 0, 0, 0.2);
    border-left: 0.7em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    float: left
}
/* Safari */
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*.loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader__figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid #FE665C;
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@-webkit-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #FE665C;
    }
    29% {
        background-color: #FE665C;
    }
    30% {
        height: 2.5em;
        width: 2.5em;
        background-color: transparent;
        border-width: 1.5em;
        opacity: 1;
    }
    100% {
        height: 2.5em;
        width: 2.5em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}
@-moz-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #FE665C;
    }
    29% {
        background-color: #FE665C;
    }
    30% {
        height: 2.5em;
        width: 2.5em;
        background-color: transparent;
        border-width: 1.5em;
        opacity: 1;
    }
    100% {
        height: 2.5em;
        width: 2.5em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}
@keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #FE665C;
    }
    29% {
        background-color: #FE665C;
    }
    30% {
        height: 2.5em;
        width: 2.5em;
        background-color: transparent;
        border-width: 1.5em;
        opacity: 1;
    }
    100% {
        height: 2.5em;
        width: 2.5em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}*/

/*.dashboard-stat {*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 30px 20px;*/
/*    background-color: #f8f8f8;*/
/*    color: #666;*/
/*    border-top-right-radius: 5px;*/
/*    border-top-left-radius: 5px;*/
/*    border-bottom-right-radius: 5px;*/
/*    border-bottom-left-radius: 5px;*/
/*    overflow: hidden;*/
/*    outline: none;*/
/*}*/
/**/
/*.dashboard-stat .visual {*/
/*    z-index: 10;*/
/*    float: right;*/
/*    width: 54px;*/
/*    height: 100%;*/
/*}*/
/**/
/*.dashboard-stat .visual i {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    left: auto;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    display: block;*/
/*    height: 72px;*/
/*    font-size: 72px;*/
/*    -webkit-transform: rotate(-30deg);*/
/*    -moz-transform: rotate(-30deg);*/
/*    -o-transform: rotate(-30deg);*/
/*    -ms-transform: rotate(-30deg);*/
/*    transform: rotate(-30deg);*/
/*    color: #e4e4e4;*/
/*    text-shadow: none;*/
/*}*/
/**/
/*.dashboard-stat .details {*/
/*    position: relative;*/
/*    z-index: 11;*/
/*    float: left;*/
/*    margin-top: -10px;*/
/*    text-align: left;*/
/*}*/
/*.dashboard-stat .details .content {*/
/*    display: block;*/
/*    margin-bottom: 1em;*/
/*    font-size: 13px;*/
/*    font-weight: 600;*/
/*    text-transform: uppercase;*/
/*}*/
/*.dashboard-stat .details .value {*/
/*    display: block;*/
/*    font-size: 32px;*/
/*    font-weight: 600;*/
/*}*/
/*.dashboard-stat .more {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    font-size: 16px;*/
/*    color: rgba(0, 0, 0, 0.25) !important;*/
/*    text-shadow: none;*/
/*}*/
/*.btn-secondary {*/
/*    color: #ffffff;*/
/*    background-color: #f0ad4e;*/
/*    border-color: #ed9c28;*/
/*}*/
/*.btn-secondary:hover {*/
/*    color: #ffffff;*/
/*    background-color: #F0AD4E;*/
/*    border-color: #ed9c28;*/
/*}*/
/*.btn-xs {*/
/*    font-size: 15px !important;*/
/*}*/
/*.progress */
/*{*/
/*    position: fixed;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 9999;*/
/*    background-color: #F2F2F2;*/
/*}*/
/*.bar */
/*{ */
/*    background-color: #819FF7; */
/*    width:0%; */
/*    height:5px; */
/*    border-radius: 3px; */
/*}*/
/*.percent */
/*{ */
/*    position:absolute; */
/*    display:inline-block; */
/*    top:3px; */
/*    left:48%; */
/*}*/