.notifyjs-metro-base {
	position: relative;
    min-height: 52px;
    color:#444;
}

.notifyjs-metro-base .image {
    display: table;
    position: absolute;
    height: auto;
    width: auto;
    left: 25px;
    top: 50%;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notifyjs-metro-base .text-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 10px 10px 10px 10px;
    clear: both;
    font-family: 'Segoe UI';
}

.notifyjs-metro-base .title {
    font-size: 15px;
    font-weight: bold;
}

.notifyjs-metro-base .text {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.notifyjs-metro-error {
	color: #fafafa !important;
	background-color: #F71919;
	border: 1px solid #FF0026;
}
.notifyjs-metro-success {
    color: #fafafa !important;
	background-color: #32CD32;
	border: 1px solid #4DB149;
}
.notifyjs-metro-info {
	color: #fafafa !important;
	background-color: #1E90FF;
	border: 1px solid #1E90FF;
}
.notifyjs-metro-warning {
	background-color: #FAFA47;
	border: 1px solid #EEEE45;
}
.notifyjs-metro-black {
	color: #fafafa !important;
	background-color: #333;
	border: 1px solid #000;
}
.notifyjs-metro-white {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
}