﻿@{
    ViewBag.Title = "Home Page";
}
<!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
<div class="preloader">
    <div class="preloader_image"></div>
</div>
<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="widget widget_search">
        <form method="get" class="searchform search-form" action="/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>
<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ds p-normal">
        <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
        <!--
        <ul class="list-unstyled">
            <li>Message To User</li>
        </ul>
        -->
    </div>
</div><!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">
        <div class="header_absolute">
            <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
            <header class="page_header ds">
                @Html.Partial("_Header")
            </header>
        </div>
        <section class="ds page_slider">
            @Html.Partial("_Block_Slider")
        </section>
        <section id="strategy" class="ds  s-pb-50 s-pb-md-100 s-pb-lg-130 s-pb-xl-240 c-gutter-15">
            @Html.Partial("_Block_Strategy")
        </section>
        <section id="bio" class="ds bio-parallax s-parallax ms s-pt-50 s-pt-md-80 s-py-lg-100 s-py-xl-200 c-gutter-15">
            @Html.Partial("_Block_Biography")
        </section>
        <section id="contacts" class="ds s-pb-60 c-gutter-60">
            @Html.Partial("_Block_Contact")
        </section>
        @Html.Partial("_Footer")
        <section class="page_copyright ds s-py-12">
            <div class="container">
                <div class="row align-items-center">
                    <div class="fw-divider-space d-none d-lg-block mt-15"></div>
                    <div class="col-md-12 text-center fs-12">
                        <p>Copyright ©2018. All rights reserved. Redictu</p>
                    </div>
                    <div class="fw-divider-space d-none d-lg-block mt-15"></div>
                </div>
            </div>
        </section>
    </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->