﻿<div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div class="alert_scheduler alert" style="display: none"></div>
                    <input type="hidden" id="SchedulerId" name="SchedulerId" value=""/>
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Thumbnail</legend>
                            <div class="input-group">
                                <input class="form-control ckfinder-file-textbox valid" id="ImgPath" name="ImgPath" placeholder="Hình đại diện" readonly="readonly" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon btn ckfinder-file-remove" data-ckfinder-file="ImgPath"><i class="fa fa-times"></i></span>
                                <span class="input-group-addon btn ckfinder-file" data-ckfinder-resourcetype="Images" data-ckfinder-file="ImgPath"><i class="far fa-image"></i></span>
                            </div>
                    </fieldset>
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Nội dung</legend>
                        <div id="SchedulerForm">
                            @Html.TextBox("event_answer_key", "0", new { type = "hidden", @class = "event_answer_key" })
                            <div class="form-group row scheduler_form">
                                <div class="col-md-3">
                                    <input type="text" class="form-control title_scheduler" id="TitleScheduler" placeholder="Tiêu đề...">
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group date date-picker" data-date-format="DD/MM/YYYY">
                                        <input class="form-control scheduler_date" id="ScheduleStartDate" name="ScheduleDate" placeholder="Ngày bắt đầu phát sóng" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>
                                        <span class="input-group-addon btn"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group date time-picker" data-date-format="DD/MM/YYYY">
                                        <input class="form-control scheduler_starttime" id="ScheduleStartTimer" name="ScheduleDate" placeholder="Giờ bắt đầu phát sóng" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>
                                        <span class="input-group-addon btn"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group date time-picker" data-date-format="DD/MM/YYYY">
                                        <input class="form-control scheduler_endtime" id="ScheduleEndTimer" name="ScheduleDate" placeholder="Giờ kết thúc phát sóng" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>
                                        <span class="input-group-addon btn"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-success" id="addScheduler">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i> Đóng
                </button>
                <button type="button" class="btn btn-danger delete_scheduler" data-dismiss="modal" style="display: none">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Xóa
                </button>
                <button type="button" class="btn btn-primary save_scheduler">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function() {
        $("#addScheduler").on("click", function () {
            var eventAnswerLastKey = $(".event_answer_key:last").val();
            var id;
            if (eventAnswerLastKey === "undefined" || eventAnswerLastKey == null) {
                id = 0;
            } else {
                id = parseInt(eventAnswerLastKey) + 1;
            }

            $("#SchedulerForm").append('<div class="form-group row scheduler_form">' +
                '<input id="event_answer_key" name="event_answer_key" type="hidden" class="event_answer_key" value="' + id + '">' +
                '<div class="col-md-3">' +
                    '<input type="text" class="form-control title_scheduler" id="TitleScheduler_' + id + '" placeholder="Tiêu đề...">' +
                '</div>' +
                '<div class="col-md-3">' +
                    '<div class="input-group date date-picker-' + id + '" data-date-format="DD/MM/YYYY">' +
                        '<input class="form-control scheduler_date" id="ScheduleStartDate_' + id + '" name="ScheduleDate" placeholder="Ngày bắt đầu phát sóng" type="text" value="">' +
                        '<span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>' +
                        '<span class="input-group-addon btn date_picker"><i class="fa fa-calendar"></i></span>' +
                    '</div>' +
                '</div>' +
                '<div class="col-md-2">' +
                    '<div class="input-group date time-picker-' + id + '" data-date-format="DD/MM/YYYY">' +
                        '<input class="form-control scheduler_starttime" id="ScheduleStartTimer_' + id + '" name="ScheduleDate" placeholder="Giờ bắt đầu phát sóng" type="text" value="">' +
                        '<span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>' +
                        '<span class="input-group-addon btn"><i class="fa fa-clock-o"></i></span>' +
                    '</div>' +
                '</div>' +
                '<div class="col-md-2">' +
                    '<div class="input-group date time-picker-' + id + '" data-date-format="DD/MM/YYYY">' +
                        '<input class="form-control scheduler_endtime" id="ScheduleEndTimer_' + id + '" name="ScheduleDate" placeholder="Giờ kết thúc phát sóng" type="text" value="">' +
                        '<span class="field-validation-valid" data-valmsg-for="ScheduleDate" data-valmsg-replace="true"></span>' +
                        '<span class="input-group-addon btn"><i class="fa fa-clock-o"></i></span>' +
                    '</div>' +
                '</div>' +
                '<div class="col-md-2">' +
                    '<button type="button" class="btn btn-danger" onclick="removeScheduler(this)"><i class="fa fa-times" aria-hidden="true"></i></button>' +
                '</div>' +
            '</div>');
            $(".date-picker-" + id).datetimepicker({
                locale: adminLanguageCode,
                format: dateFormat.toUpperCase(),
                useCurrent: false
            });
            $(".time-picker-" + id).datetimepicker({
                locale: adminLanguageCode,
                format: timeFormat.replace("tt", "A"),
                useCurrent: false
            });
        });
    });

    function removeScheduler(element) {
        $(element).parents(".scheduler_form").remove();
    }
</script>