﻿<div class="container">
    <div class="row">
        <div class="col-12 animate" data-animation="fadeInDown" data-delay="150">
            <div class="fw-divider-space hidden-above-lg mt-35"></div>
            <div class="section__header text-center">
                <h2 class="mb-0">
                    <span class="bold">Strategy</span><br>
                </h2>
                <h4 class="mt-2">
                    <span class="thin">and a bit of magic</span>
                </h4>
                <div class="fw-divider-space hidden-above-lg mt-50"></div>
                <div class="fw-divider-space hidden-below-lg mt-75"></div>
                <div class="owl-carousel shortcode-service" data-autoplay="false" data-autoplaytimeout="3000" data-loop="true" data-nav="0" data-margin="60" data-responsive-xs="1" data-responsive-sm="2" data-responsive-md="3" data-responsive-lg="3">
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode1.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title ">
                                    <a href="#">
                                        Explore
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Mobile Strategy<br />
                                        App Distribution<br />
                                        Reporting & Analysis<br />
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode2.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title ">
                                    <a href="#">
                                        Create
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Design Consent<br />
                                        Target Audiences<br />
                                        Branding<br />
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode3.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title ">
                                    <a href="#">
                                        Learn
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Optimize Traffic<br />
                                        User Testing<br />
                                        Learning<br />
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode1.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title ">
                                    <a href="#">
                                        Explore
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Design Sprints<br />
                                        Product Strategy<br />
                                        UX Strategy
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode2.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title ">
                                    <a href="#">
                                        Explore
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Design Sprints<br />
                                        Product Strategy<br />
                                        UX Strategy
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                    <div class="owl-carousel-item shortcode bg-darkblue2">
                        <div class="service_item content-padding text-center overflow-hidden">
                            <div class="fw-divider-space mt-80"></div>
                            <div class="service_icon">
                                <a class="permalink" href="#">
                                    <img src="~/Content/images/icon_shortcode3.png" alt="icon shortcode">
                                </a>
                            </div>
                            <div class="item-content">
                                <h5 class="entry-title">
                                    <a href="#">
                                        Explore
                                    </a>
                                </h5>
                                <div class="color-font">
                                    <p>
                                        Design Sprints<br />
                                        Product Strategy<br />
                                        UX Strategy
                                    </p>
                                </div>
                            </div><!-- eof .item-content -->
                        </div><!-- eof .teaser -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>