﻿<div class="flexslider">
    <ul class="slides">
        <li class="cs text-center">
            <div class="flex-bg ds z-5 s-overlay">
                <video muted loop id="myVideo">
                    <source src="~/Content/video/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro_layers_wrapper">
                            <div class="intro_layers">
                                <div class="intro_layer" data-animation="fadeInRight">
                                    <img src="~/Content/images/logo_340x380.png" class="pull-left" alt="slide-img">
                                </div>
                                <div class="intro_layer text-right" data-animation="fadeInLeft">
                                    <p class="title">
                                        REDICTU
                                        <span class="light"><br>Global Performance<br>Advertising Network</span>
                                    </p>
                                </div>
                            </div> <!-- eof .intro_layers -->
                        </div> <!-- eof .intro_layers_wrapper -->
                    </div> <!-- eof .col-* -->
                </div><!-- eof .row -->
            </div><!-- eof .container-fluid -->
        </li>
        <li class="cs text-center">
            <div class="flex-bg ds z-5 s-overlay">
                <video muted loop id="myVideo1">
                    <source src="~/Content/video/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro_layers_wrapper">
                            <div class="intro_layers">
                                <div class="intro_layer" data-animation="fadeInRight">
                                    <img src="~/Content/images/logo_340x380.png" class="pull-left" alt="slide-img">
                                </div>
                                <div class="intro_layer text-right" data-animation="fadeInLeft">
                                    <p class="title">
                                        ADVERTISERS
                                        <span class="light"><br>Improve Your Brand’s Visibility <br>Across Platforms</span>
                                    </p>
                                </div>
                            </div> <!-- eof .intro_layers -->
                        </div> <!-- eof .intro_layers_wrapper -->
                    </div> <!-- eof .col-* -->
                </div><!-- eof .row -->
            </div><!-- eof .container-fluid -->
        </li>
        <li class="cs text-center">
            <div class="flex-bg ds z-5 s-overlay">
                <video muted loop id="myVideo2">
                    <source src="~/Content/video/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro_layers_wrapper">
                            <div class="intro_layers">
                                <div class="intro_layer" data-animation="fadeInRight">
                                    <img src="~/Content/images/logo_340x380.png" class="pull-left" alt="slide-img">
                                </div>
                                <div class="intro_layer text-right" data-animation="fadeInLeft">
                                    <p class="title">
                                        PUBLISHERS
                                        <span class="light"><br>Get Better Value<br>For Your Traffic</span>
                                    </p>
                                </div>
                            </div> <!-- eof .intro_layers -->
                        </div> <!-- eof .intro_layers_wrapper -->
                    </div> <!-- eof .col-* -->
                </div><!-- eof .row -->
            </div><!-- eof .container-fluid -->
        </li>
    </ul>
</div> <!-- eof flexslider -->