﻿<footer class="page_footer ds s-py-md-0 s-py-lg-50 s-py-xl-100 c-gutter-25">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center animate" data-animation="fadeInUp">
                <h4 class="back">Let's<br>talk</h4>
                <div class="page_footer__wrap">
                    <div class="widget widget_banner">
                        <p class="spec">support<span class="light">@@</span>redictu.com</p>
                    </div>
                    <div class="fw-divider-space  hidden-lg mt--20"></div>
                    @*<div class="menu-footer">
                            <ul class="menu-footer__nav">
                                <li>
                                    <a href="http://facebook.com/#">facebook</a>
                                </li>
                                <li>
                                    <a href="http://linkedin.com/#">linkedin</a>
                                </li>
                                <li>
                                    <a href="http://facebook.com/#">instagram</a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="fw-divider-space hidden-below-sm  hidden-lg mt-30"></div>
        </div>
    </div>
</footer>