﻿@model AdAddEdit
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.BootstrapSubmit()
                    @Html.BootstrapResetForm()
                    @Html.BootstrapButtonRedirect("/Ads", "Quảng cáo")
                </div>
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()
                    <div class="col-md-6">
                        @{
                            var categories = new Categories();
                            var lstCategories = new SelectList(categories.FilterAll(), "Id", "CategoryName");
                        }
                        @Html.BootstrapDropDownListFor(m => m.CategoryId, lstCategories, null, autoFocus: true)
                        
                        @Html.BootstrapTextBoxFor(m => m.AdName)

                        @Html.BootstrapTextBoxFor(m => m.AdContent)

                        @Html.BootstrapTextBoxFor(m => m.Link)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
