﻿@model BackEndAdminPagesList
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(formMethod: FormMethod.Get, isDirtyFormMonitored: false, className: "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"))
        {
            <div class="m-portlet__body">
                @Html.BootstrapValidationSummary()
                <div class="form-group row">
@*                    <div class="col-sm-12">*@
@*                        @Html.BootstrapTextBoxViewFor(m => m.PageName)*@
@*                    </div>*@
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__search_actions">
@*                                @Html.BootstrapApplyFilter()*@
@*                                @Html.BootstrapResetFilter()*@
                                @Html.BootstrapButtonAdd("/AdminPagesAdd")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-section">
            <div class="m-section__content">
                @using (Html.BootstrapBeginForm("", "", isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    @Model.TreeTablePageList
                }
            </div>
        </div>
    </div>
</div>
