﻿@model BackEndAdminPagesAdd
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(className: "m-form"))
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                                @Html.BootstrapButtonRedirect("/AdminPages", Strings.AdminPages)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            @{
                                AdminPages adminPages = new AdminPages();
                                var selectListBackEndAdminPages = new SelectList(adminPages.GetAllPages(true), "PageId", "PageName", Model.PageParentId);
                            }
                            @Html.BootstrapDropDownListFor(m => m.PageParentId, selectListBackEndAdminPages, Strings.NoParent, autoFocus: true)
                        
                            @Html.BootstrapTextBoxFor(m => m.PageName, labelTooltip: Strings.TooltipAdminPageName)

                            @Html.BootstrapTextBoxFor(m => m.Url, labelTooltip: Strings.TooltipAbsoluteOrRelativeURL)

                            @Html.BootstrapDropDownListFor(m => m.Target, FormHelper.GetSelectListForTarget(FormHelper.SelectedValueForTarget.SameWindow))
                            
                            <div class="form-group m-form__group">
                                <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                    @Html.CheckBoxFor(m => m.ShowInMenu)
                                    Show In Menu
                                    <span></span>
                                </label>
                            </div>
                                
                            <div class="form-group m-form__group">
                                <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                    @Html.CheckBoxFor(m => m.IsActive)
                                    Active
                                    <span></span>
                                </label>
                            </div>

                            @Html.BootstrapTextBoxFor(m => m.CssClass)
                            
                            @Html.BootstrapTextBoxFor(m => m.Icon)

                            @if (Model.GroupsPermissions.Count > 0)
                            {
                                Groups groups = new Groups();
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover table-striped small">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            @foreach (Permission p in Model.GroupsPermissions[0].Permissions)
                                            {
                                                <th class="text-center"><span data-toggle="tooltip" title="@p.PermissionCode">@p.PermissionCode.ToString().Substring(0, 1)</span></th>
                                            }
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @for (int i = 0; i < Model.GroupsPermissions.Count; i++)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.HiddenFor(m => m.GroupsPermissions[i].GroupId)
                                                    @groups.GetGroupById(Model.GroupsPermissions[i].GroupId).GroupName
                                                </th>
                                                @for (int j = 0; j < Model.GroupsPermissions[i].Permissions.Count; j++)
                                                {
                                                    <td class="text-center">
                                                        @Html.HiddenFor(m => m.GroupsPermissions[i].Permissions[j].PermissionCode)
                                                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                                            @Html.CheckBoxFor(m => m.GroupsPermissions[i].Permissions[j].PermissionValue)
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>