﻿<div id="griddata" class="loader"></div>
@section Scripts
{
    <script src="~/Content/backend/js/reactjs/react.js"></script>
    <script src="~/Content/backend/js/reactjs/react-dom.js"></script>
    <script src="~/Content/backend/js/reactjs/remarkable.min.js"></script>
    <script src="~/Content/backend/coffee/Configs.js"></script>
    <script src="~/Content/backend/reactjs/Pagination.jsx"></script>
    <script src="@Url.Content("~/Content/backend/reactjs/Ads.jsx")"></script>
    <script>
        ReactDOM.render(
            React.createElement(
                AdGridTable,
                {
                    "url": "/GetAdsList/",
                    "urlDelete": "/AdDelete/",
                    "urlAddEdit": "/AdAddEdit/",
                    "pollInterval": 2000
                }
            ),
            document.getElementById("griddata")
        );
    </script>
}