﻿@model HelperPagination<Category>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Adv Api List
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            @Html.BootstrapValidationSummary()
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-8">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Search category name..." id="CategoryName" name="CategoryName">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                    <a href="/ApiCategoryAddEdit" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                        <span>
                            <i class="flaticon-file-1"></i>
                            <span>
                                Create Adv Api
                            </span>
                        </span>
                    </a>
                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <div class="m-section">
            <div class="m-section__content">
                @using (Html.BootstrapBeginForm(formMethod: FormMethod.Post, isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    <div class="m_datatable" id="api_category_data"></div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/backend/assets/app/js/datatables/api-categories-ajax.js" type="text/javascript"></script>
}