﻿@model HelperPagination<Category>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(formMethod: FormMethod.Get, isDirtyFormMonitored: false, className: "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"))
        {
            <div class="m-portlet__body">
                @Html.BootstrapValidationSummary()
                <div class="form-group row">
                    <div class="col-lg-12">
                        @Html.BootstrapTextBoxViewFor(m => m.CastAs<Category>().CategoryName)
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__search_actions">
                            @Html.BootstrapApplyFilter()
                            @Html.BootstrapResetFilter()
                            @Html.BootstrapButtonAdd("/CategoryAddEdit")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-section">
            <div class="m-section__content">
                @using (Html.BootstrapBeginForm(formMethod: FormMethod.Post, isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; overflow-x: auto;">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row" style="left: 0px;">
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Active</span></th>
                                    <th data-field="CategoryName" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Category Name</span></th>
                                    <th data-field="TransId" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">TransId</span></th>
                                    <th data-field="Sub1" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Sub1</span></th>
                                    <th data-field="Sub2" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Sub2</span></th>
                                    <th data-field="Sub3" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Sub3</span></th>
                                    <th data-field="Sub4" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Sub4</span></th>
                                    <th data-field="Sub5" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Sub5</span></th>
                                    <th data-field="CountryCode" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Country Code</span></th>
                                    <th data-field="AddressIp" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Address Ip</span></th>
                                    <th data-field="DeviceOs" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Device Os</span></th>
                                    <th data-field="DeviceOsVersion" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Device Os Version</span></th>
                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Status</span></th>
                                </tr>
                            </thead>
                            <tbody class="m-datatable__body">
                                @if (Model.IgnoreNulls().Any())
                                {
                                    foreach (var category in Model)
                                    {
                                        var index = Model.IndexOf(category);
                                        <tr data-row="@index" class="m-datatable__row @if(index%2!=0){<text>m-datatable__row--even</text>}" style="left: 0px;">
                                            <td class="m-datatable__cell">
                                                <span style="width: 110px;">
                                                    @Html.BootstrapButtonEdit("/CategoryAddEdit/" + category.Id as string)
                                                    @Html.BootstrapButtonDelete("/CategoryDelete", category.Id as object, category.CategoryName as string)
                                                </span>
                                            </td>
                                            <td data-field="CategoryName" class="m-datatable__cell"><span style="width: 110px;">@category.CategoryName</span></td>
                                            <td data-field="TransId" class="m-datatable__cell"><span style="width: 110px;">@category.TransId</span></td>
                                            <td data-field="Sub1" class="m-datatable__cell"><span style="width: 110px;">@category.Sub1</span></td>
                                            <td data-field="Sub2" class="m-datatable__cell"><span style="width: 110px;">@category.Sub2</span></td>
                                            <td data-field="Sub3" class="m-datatable__cell"><span style="width: 110px;">@category.Sub3</span></td>
                                            <td data-field="Sub4" class="m-datatable__cell"><span style="width: 110px;">@category.Sub4</span></td>
                                            <td data-field="Sub5" class="m-datatable__cell"><span style="width: 110px;">@category.Sub5</span></td>
                                            <td data-field="CountryCode" class="m-datatable__cell"><span style="width: 110px;">@category.CountryCode</span></td>
                                            <td data-field="AddressIp" class="m-datatable__cell"><span style="width: 110px;">@category.AddressIp</span></td>
                                            <td data-field="DeviceOs" class="m-datatable__cell"><span style="width: 110px;">@category.DeviceOs</span></td>
                                            <td data-field="DeviceOsVersion" class="m-datatable__cell"><span style="width: 110px;">@category.DeviceOsVersion</span></td>
                                            <td data-field="RecordID" class="col-10 m-datatable__cell">
                                                <span style="width: 110px;">
                                                    @if (category.Status == 1)
                                                    {
                                                        <span class="label label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">InActive</span>
                                                    }
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="14">Data not found.</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="m_datatable" id="local_data"></div>
                }
            </div>
        </div>
    </div>
</div>
@if (!Model.IgnoreNulls().Any())
{
    return;
}
@Html.Partial("_PagingPartial", Model)
@section Scripts{
    <script src="~/Content/backend/assets/app/js/datatables/categories-ajax.js" type="text/javascript"></script>
}