﻿@model BackEndChangePassword
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(className: "m-form"))
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                            </div>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">

                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()

                    <div class="col-lg-6">
                        @Html.BootstrapPasswordFor(m => m.CurrentPassword)

                        @Html.BootstrapPasswordFor(m => m.NewPassword)

                        @Html.BootstrapPasswordFor(m => m.ConfirmationPassword)
                    </div>
                </div>
            </div>
        }
    </div>
</div>