﻿@model List<D2Media_CMS.ViewModels.BackEndCmsPagesLanguagesAddEdit>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (ViewData.IsFormVisible())
                    {
                        <text>
                            @Html.BootstrapSubmit(isConfirmActive: true)
                            @Html.BootstrapResetForm()
                        </text>
                    }
                    @Html.BootstrapButtonRedirect("/Admin/CmsPages", D2Media_CMS.Resources.Strings.CmsPages)
                </div>
                <div class="panel-body">

                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()

                    @if (ViewData.IsFormVisible())
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                @Html.HiddenFor(m => m[0].PageId)
                                @Html.BootstrapTextBoxFor(m => m[0].PageName, isReadOnly: true)
                            </div>
                        </div>

                        <ul class="nav nav-tabs">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <li class="@(i == 0 ? "active" : "")"><a href="#Tab-@Model[i].LanguageCode" data-toggle="tab">@Model[i].LanguageName</a></li>
                            }
                        </ul>

                        <div class="tab-content">
                            <br />
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                @Html.HiddenFor(m => m[i].LanguageCode)
                                @Html.HiddenFor(m => m[i].LanguageName)
                                <div class="tab-pane fade @(i == 0 ? "in active" : "")" id="Tab-@Model[i].LanguageCode">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            @Html.BootstrapTextBoxFor(m => m[i].MenuName)
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.BootstrapTextBoxFor(m => m[i].MetaTagTitle)
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.BootstrapDropDownListFor(m => m[i].Robots, new SelectList(FormHelper.GetSelectListForMetaRobots(), "Value", "Text", Model[i].Robots))
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            @Html.BootstrapTextAreaFor(m => m[i].MetaTagKeywords)
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.BootstrapTextAreaFor(m => m[i].MetaTagDescription)
                                        </div>
                                    </div>
                                    @Html.BootstrapTextAreaFor(m => m[i].HtmlCode, className: "tinymce-editor")
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>