﻿<button class="btn btn-default" id="NewSubfolder">@Html.Raw(D2Media_CMS.Resources.Strings.NewSubfolder)</button>
<button class="btn btn-default" id="DeleteFolder">@Html.Raw(D2Media_CMS.Resources.Strings.DeleteFolder)</button>
<button class="btn btn-default" id="RenameFolder">@Html.Raw(D2Media_CMS.Resources.Strings.RenameFolder)</button>
<button class="btn btn-default" id="DeleteFile">@Html.Raw(D2Media_CMS.Resources.Strings.DeleteFile)</button>
<button class="btn btn-default" id="RenameFile">@Html.Raw(D2Media_CMS.Resources.Strings.RenameFile)</button>
<div class="ckfinder-standalone"></div>
<form id="__AjaxAntiForgeryForm" method="post">@Html.AntiForgeryToken()</form>
