﻿@model CommnentList
@{
    Layout = null;
}
@*<div id="content"></div>*@
@Html.React("CommentBox", new
{
    initialData = Model.CommentList,
    url = Url.Action("Home/Comments"),
    submitUrl = Url.Action("AddComment"),
    pollInterval = 2000,
})

<script type="text/javascript" src="/Content/backend/js/jquery-1.11.0.min.js"></script>
<script src="/Content/backend/js/bootstrap.js"></script>
<script src="~/Content/backend/js/reactjs/react.js"></script>
<script src="~/Content/backend/js/reactjs/react-dom.js"></script>
<script src="~/Content/backend/js/reactjs/remarkable.min.js"></script>
<script src="@Url.Content("~/Content/backend/reactjs/Tutorial.jsx")"></script>
@Html.ReactInitJavaScript()