﻿@model ReportHourList
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Reports
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                        <span>
                            <i class="fa fa-check"></i>
                            <span>
                                Apply
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right">
            @Html.BootstrapValidationSummary()
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control" id="TimePicker" name="TimePicker" readonly placeholder="Select date" value="@Model.TimePicker" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="flaticon-calendar-1"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <div class="m-section">
            <div class="m-section__content">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">Chart</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <canvas id="m_chart_report_stats"></canvas>
                    </div>

                </div>
                @using (Html.BootstrapBeginForm(formMethod: FormMethod.Post, isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    <div class="m_datatable" id="hour_report"></div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    var chartReportHour;
    jQuery(document).ready(function () {
        $("#TimeRanger").timepicker({
            showMeridian: !1
        });
        @{
            ChartReport chartReport = new ChartReport();
            var categories = chartReport.GetCategories(Model.ReportHours);
            var totalConversion = chartReport.GetTotalConversion(Model.ReportHours);
            var totalClick = chartReport.GetTotalClick(Model.ReportHours);
            var totalRevenue = chartReport.GetTotalRevenue(Model.ReportHours);
            var totalPayout = chartReport.GetTotalPayout(Model.ReportHours);
        }
        chartReportHour = ChartReport.hour(@categories, @totalConversion, @totalClick, @totalRevenue, @totalPayout);
    });
</script>
@section Scripts
{
    <script src="~/Content/backend/assets/app/js/linq.min.js" type="text/javascript"></script>
    <script src="~/Content/backend/assets/app/js/chart-report-hour.js" type="text/javascript"></script>
    <script src="~/Content/backend/assets/app/js/datatables/report-hour-ajax.js"></script>
}