﻿@model DashboardList
<!--begin:: Widgets/Stats-->
@Html.Partial("DashBoard/_Widgets")
<!--end:: Widgets/Stats-->
<!--Begin::Section-->
@Html.Partial("DashBoard/_ChartReport")
<!--End::Section-->
<!--Begin::Section-->
@Html.Partial("DashBoard/_Blogs")
<!--End::Section-->
<!--Begin::Section-->
@Html.Partial("DashBoard/_TopOfferUser")
<!--End::Section-->
@*<script type="text/javascript">*@
@*    var reportCategories = [];*@
@*    var reportClick = [];*@
@*    var reportUniqueClick = [];*@
@*    var reportConverion = [];*@
@*    var reportRevenue = [];*@
@*    var reportPayout = [];*@
@*    @foreach (var click in Model.ReportClicks)*@
@*    {*@
@*        <text>*@
@*            reportCategories.push("@click.CreatedDate.ToString("dd-MM-yyyy")");*@
@*            reportClick.push(@click.Click);*@
@*            reportUniqueClick.push(@click.UniqueClick);*@
@*            reportConverion.push(@click.Conversion);*@
@*        </text>*@
@*    }*@
@*    @foreach (var pay in Model.ReportPayList)*@
@*    {*@
@*        <text>*@
@*            reportRevenue.push(@pay.Revenue);*@
@*            reportPayout.push(@pay.Payout);*@
@*        </text>*@
@*    }*@
@**@
@*    $(document).ready(function () {*@
@*        Dashboard.init(reportCategories, reportConverion, reportClick);*@
@*    });*@
@**@
@*</script>*@
@section Scripts
{
    <script src="~/Content/backend/assets/app/js/dashboard-main.js" type="text/javascript"></script>
}