﻿@model BackEndLogin
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__logo">
                            <a href="#">
                                <img src="~/Content/backend/images/logo_340x380.png" style="width: 96px;">
                            </a>
                        </div>
                        <div class="m-login__signin animated flipInX">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Sign In To Admin
                                </h3>
                            </div>
                            @using (Html.BootstrapBeginForm(isDirtyFormMonitored: false, className: "m-login__form m-form"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.BootstrapValidationSummary()
                                if (!ViewData.ModelState.ContainsKey("success"))
                                {
                                    @Html.HiddenFor(m => m.ReturnUrl)
                                    <div class="m-input-icon m-input-icon--left">
                                        <input class="form-control m-input" type="text" placeholder="Username" name="Username" autocomplete="off">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-user"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="m-input-icon m-input-icon--left">
                                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="Password">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-lock"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Sign In
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                        <div class="m-login__signup animated flipInX">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Sign Up
                                </h3>
                            </div>
                            <div class="message_signup alert" role="alert">
                                Thank you. To complete your registration please check your email.
                            </div>
                            <form class="m-login__form m-form">
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname" id="fullName">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Email" name="email" id="email" autocomplete="off">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="password" placeholder="Password" name="password" id="password1">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Company" name="company" id="company" autocomplete="off">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Tel" name="numberPhone" id="numberPhone" autocomplete="off">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Skype" name="skype" id="skype" autocomplete="off">
                                </div>
                                <div class="row form-group m-form__group m-login__form-sub">
                                    <div class="col m--align-left">
                                        <label class="m-checkbox m-checkbox--focus">
                                            <input type="checkbox" name="agree">
                                            I Agree the
                                            <a href="#" class="m-link m-link--focus">
                                                terms and conditions
                                            </a>
                                            .
                                            <span></span>
                                        </label>
                                        <span class="m-form__help"></span>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button type="button" id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                        Sign Up
                                    </button>
                                    <button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="m-stack__item m-stack__item--center">
                    <div class="m-login__account">
                        <span class="m-login__account-msg">
                            Don't have an account yet ?
                        </span>
                        &nbsp;&nbsp;
                        <a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-login__account-link">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(/Content/backend/assets/app/media/img//bg/bg-4.jpg)">
            <div class="m-grid__item m-grid__item--middle">
                <h3 class="m-login__welcome">
                    Join Our Community
                </h3>
                <p class="m-login__msg">
                    Lorem ipsum dolor sit amet, coectetuer adipiscing
                    <br>
                    elit sed diam nonummy et nibh euismod
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Content/backend/assets/snippets/custom/pages/user/login.js"></script>
    @*<script src="~/Content/backend/js/jquery.validate.js"></script>*@
    @*<script src="~/Content/backend/coffee/register.js"></script>*@
    <script>
        $(function () {
            $("#m_login_signup_submit").on("click", function () {
                var fullName = $("#fullName").val();
                var email = $("#email").val();
                var password = $("#password1").val();
                var company = $("#company").val();
                var numberPhone = $("#numberPhone").val();
                var skype = $("#skype").val();
                var that = $(this);
                $.ajax({
                    method: "POST",
                    url: "http://api.orientaps.com/api/offers/RegisterCms",
                    data: { FullName: fullName, Password: password, Email: email, Company: company, NumberPhone: numberPhone, Skype: skype }
                })
                .done(function (msg) {
                    if (msg.ErrCode === 200) {
                        $(".message_signup").removeClass("alert-danger");
                        $(".message_signup").addClass("alert-success");
                        $(".message_signup").html("Thank you. To complete your registration please check your email.");
                    } else {
                        $(".message_signup").removeClass("alert-success");
                        $(".message_signup").addClass("alert-danger");
                        $(".message_signup").html(msg.ErrMessage);
                    }
                    that.removeClass("m-loader m-loader--right m-loader--light").attr("disabled", !1);
                });
            });
        });
    </script>
}
