﻿<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Reports
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="/OfferAddEdit" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                        <span>
                            <i class="fa fa-check"></i>
                            <span>
                                Apply
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right">
            @Html.BootstrapValidationSummary()
            <div class="row">
                <div class="col-md-4">
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="m-demo__preview">
                                <!--begin::Form-->
                                <form class="m-form">
                                    <div class="m-form__group form-group">
                                        <label for="">
                                            Select data to include:
                                        </label>
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                Offers
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                Category
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox" checked="checked">
                                                Country
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="m-demo__preview">
                                <!--begin::Form-->
                                <form class="m-form">
                                    <div class="m-form__group form-group">
                                        <label for="">
                                            Select statistics to include:
                                        </label>
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                Conversions
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                Clicks
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox" checked="checked">
                                                Unique Clicks
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="m-demo__preview">
                                <!--begin::Form-->
                                <form class="m-form">
                                    <div class="m-form__group form-group">
                                        <label for="">
                                            Select calculations to include:
                                        </label>
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                CTR
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                CR
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <div class="m-section">
            <div class="m-section__content">
                @using (Html.BootstrapBeginForm(formMethod: FormMethod.Post, isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    <div class="m_datatable" id="offer_data"></div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Content/backend/coffee/offers.js"></script>
    <script src="~/Content/backend/assets/app/js/datatables/offers-ajax.es5.min.js"></script>
}