﻿@model ReportList
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(formMethod: FormMethod.Get, isDirtyFormMonitored: false))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.BootstrapValidationSummary()

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Date Range</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Datetime Ranger" name="DatetimeRanger" id="DatetimeRanger" value="@Model.DatetimeRanger">
                                <span class="input-group-addon" id="sizing-addon2">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        @{
                            List<SelectListItem> listTop = new List<SelectListItem>
                                                    {
                                                        new SelectListItem {Value = "0", Text = "All"},
                                                        new SelectListItem {Value = "3", Text = "Top 3"},
                                                        new SelectListItem {Value = "5", Text = "Top 5"},
                                                        new SelectListItem {Value = "10", Text = "Top 10"}
                                                    };
                            var selectListTop = new SelectList(listTop, "Value", "Text");
                        }
                        @Html.BootstrapDropDownListFor(m => m.TopOffer, selectListTop, null)
                    </div>
                    <div class="col-sm-4">
                        @{
                            List<SelectListItem> list = new List<SelectListItem>
                                                    {
                                                        new SelectListItem {Value = "1", Text = "Click"},
                                                        new SelectListItem {Value = "2", Text = "Conversion"},
                                                        new SelectListItem {Value = "3", Text = "Payout"},
                                                    };
                            var selectList = new SelectList(list, "Value", "Text");
                        }
                        @Html.BootstrapDropDownListFor(m => m.Type, selectList, null)
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.BootstrapApplyFilter()
                    @Html.BootstrapResetFilter()
                </div>
            </div>
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fas fa-chart-bar"></i> Statistics</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="container12" style="height: 350px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('input[name="DatetimeRanger"]').daterangepicker({
            "linkedCalendars": false,
            "alwaysShowCalendars": true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    });
</script>
<script type="text/javascript">
    var listDate = [];
    var reportCategories = [];

    var reportClick = [];
    var reportUniqueClick = [];
    var reportConverion = [];
    var reportRevenue = [];
    var reportPayout = [];

    @if (Model.ReportDetails.IgnoreNulls().Any())
    {
        foreach (var clickDetail in Model.ReportDetails)
        {
            <text>
                if (listDate.indexOf('@clickDetail.CreatedDate.ToString("dd-MM-yyyy")') === -1) {
                    listDate.push('@clickDetail.CreatedDate.ToString("dd-MM-yyyy")');
                }
                var checkCate = reportCategories.find(x => x.name === '@clickDetail.Name');
                if (checkCate === undefined) {
                    reportCategories.push({ name: '@clickDetail.Name', data: [@clickDetail.Total] });
                } else {
                    reportCategories.find(x => x.name === '@clickDetail.Name').data.push(@clickDetail.Total);
                    var notInCate = reportCategories.find(x => x.name !== '@clickDetail.Name');
                    if (notInCate !== undefined) {
                        reportCategories.find(x => x.name !== '@clickDetail.Name').data.push(0);
                    }
                }
            </text>
        }
    }
    else
    {
        <text>
            var currentDate = new Date();
            var dd = currentDate.getDate();
            var mm = currentDate.getMonth()+1; //January is 0!
            var yyyy = currentDate.getFullYear();
            var today = dd + '/' + mm + '/' + yyyy;
            listDate.push(today);
            reportCategories.push({ name: 'Offers', data: [0] });
        </text>
    }
    $(function() {
        HighChartReport(listDate, reportCategories);
    });
    
//    Highcharts.chart('container12', {
//        title: {
//            text: ''
//        },
//        subtitle: {
//            text: ''
//        },
//        xAxis: {
//            categories: listDate
//        },
//        yAxis: {
//            title: {
//                text: ''
//            }
//        },
//        legend: {
//            layout: 'vertical',
//            align: 'right',
//            verticalAlign: 'middle'
//        },
//        colors: [
//            '#4572A7',
//            '#AA4643'
//        ],
//        plotOptions: {
//            series: {
//                label: {
//                    connectorAllowed: false
//                },
//                marker: {
//                    radius: 2
//                },
//                lineWidth: 2
//            },
//            column: {
//                colorByPoint: true
//            }
//        },
//        tooltip: {
//            shared: true,
//            crosshairs: true
//        },
//        series: reportCategories,
//        responsive: {
//            rules: [{
//                condition: {
//                    maxWidth: 500
//                },
//                chartOptions: {
//                    legend: {
//                        layout: 'horizontal',
//                            align: 'center',
//                            verticalAlign: 'bottom'
//                    }
//                }
//            }]
//        }
//    });
</script>
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/backend/css/datetime_picker/daterangepicker.css" />
}
@section Scripts
{
    <script type="text/javascript" src="~/Content/backend/js/datetime_picker/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/backend/js/datetime_picker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/backend/coffee/d2media.js"></script>
}
@section ScriptHeader
{
    <script src="~/Content/backend/js/highchart/highcharts.src.js"></script>
}
