﻿@model OfferAddEdit
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(className: "m-form"))
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                                @Html.BootstrapButtonRedirect("/Offers", "Manager Offers")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @{
                                Categories categories = new Categories();
                                var cateList = new SelectList(categories.FilterAll(1, 1000, ""), "Id", "CategoryName");
                            }
                            @Html.BootstrapDropDownListFor(m => m.CategoryId, cateList, null)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Name)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.HasOfferLink)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.HasOfferRevenue)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Revenue)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Payout)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.ConversionLimit)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.PreviewLink)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Description)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapFilePathFor(m => m.Images, resourceType: "Images")
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.DeviceOsVersion)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.ResetTime)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @{
                                List<SelectListItem> listTop = new List<SelectListItem>
                                {
                                    new SelectListItem {Value = "ios", Text = "IOS"},
                                    new SelectListItem {Value = "android", Text = "Android"}
                                };
                                var listDeviceOs = new SelectList(listTop, "Value", "Text");
                            }
                            @Html.BootstrapDropDownListFor(m => m.DeviceOs, listDeviceOs, null)
                        </div>
                        <div class="col-lg-6">
                            @{
                                var countries = new SelectList(Countries.GetAll(1, 1000, ""), "Id", "CountryName");
                            }
                            @Html.BootstrapListBoxFor(m => m.SelectedItemIds, countries)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            @Html.BootstrapTextAreaFor(m => m.Description, className: "tinymce-editor")
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        @Html.BootstrapSubmit()
                        @Html.BootstrapResetForm()
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        $("#ResetTime").timepicker({
            showMeridian: !1
        });
    });
</script>
@section Scripts
{
    <script src="/Content/backend/js/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="/Content/backend/js/swfobject.js"></script>
    <script type="text/javascript" src="/Content/ckfinder/ckfinder.js"></script>
}
