﻿@using SelectListItem = System.Web.WebPages.Html.SelectListItem
@model PostBackAddEdit
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm())
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                                @Html.BootstrapButtonRedirect("/PostBack", "Manager PostBack")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()
                    <div class="form-group m-form__group row">
                        <div class="col-md-6">
                            @Html.BootstrapTextBoxFor(m => m.Url)

                            @*@{
                                Users users = new Users();
                                var selectListUser = new SelectList(users.FilterNotAdmin(1), "Id", "UserName");
                            }
                            @Html.BootstrapDropDownListFor(m => m.UserId, selectListUser)

                            @{
                                List<SelectListItem> list = new List<SelectListItem>
                                {
                                    new SelectListItem {Value = "1", Text = "Active"},
                                    new SelectListItem {Value = "0", Text = "InActive"}
                                };
                                var selectList = new SelectList(list, "Value", "Text");
                            }
                            @Html.BootstrapDropDownListFor(m => m.Status, selectList, null)*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
