﻿@model SqlQuery
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.BootstrapSubmit()
                    @Html.BootstrapResetForm()
                </div>
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()
                    @Html.BootstrapTextAreaFor(m => m.Query)
                </div>
            </div>
        }
    </div>
</div>
