﻿@model UserInfo
<div class="row">
    <div class="col-lg-12">
        @* Sets isDirtyFormMonitored to false due to the below Chrome's bug *@
        @using (Html.BootstrapBeginForm(isDirtyFormMonitored: false, className: "m-form"))
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                            </div>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">

                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()

                    <input type="text" class="hidden" name="FakeUsernameRemembered" />
                    <input type="password" class="hidden" name="FakePasswordRemembered" />
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Username, isReadOnly: true)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.FullName)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Email)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.NumberPhone)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Company)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Tax)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Skype)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Description)
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        @Html.BootstrapSubmit()
                        @Html.BootstrapResetForm()
                    </div>
                </div>
            </div>

        }
    </div>
</div>