﻿@model BackEndUsersEdit
<div class="row">
    <div class="col-lg-12">
        @* Sets isDirtyFormMonitored to false due to the below Chrome's bug *@
        @using (Html.BootstrapBeginForm(isDirtyFormMonitored: false, className: "m-form"))
        {
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-portlet__head-text">
                                @Html.BootstrapSubmit()
                                @Html.BootstrapResetForm()
                                @Html.BootstrapButtonRedirect("/Users", Strings.Users)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">

                    @Html.AntiForgeryToken()
                    @Html.BootstrapValidationSummary()

                    <input type="text" class="hidden" name="FakeUsernameRemembered" />
                    <input type="password" class="hidden" name="FakePasswordRemembered" />
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.UserId)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Username, isReadOnly: true)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.FullName)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapPasswordFor(m => m.Password, labelTooltip: Strings.LeaveEmptyToNotChangePassword)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapPasswordFor(m => m.ConfirmationPassword, labelTooltip: Strings.LeaveEmptyToNotChangePassword)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.NumberPhone)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Company)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Tax)
                        </div>
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Description)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.Skype)
                        </div>
                        <div class="col-lg-6">
                            @{
                                Groups groups = new Groups();
                                var selectListBackEndGroups = new SelectList(groups.GetAllGroups(), "GroupId", "GroupName");
                            }
                            @Html.BootstrapDropDownListFor(m => m.GroupId, selectListBackEndGroups)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.BootstrapTextBoxFor(m => m.PostBackLink)
                        </div>
                        <div class="col-lg-6">
                            @{
                                List<SelectListItem> list = new List<SelectListItem>
                                                                {
                                                                    new SelectListItem {Value = "1", Text = "Accept"},
                                                                    new SelectListItem {Value = "0", Text = "Pending"},
                                                                    new SelectListItem {Value = "-1", Text = "Block"}
                                                                };
                                var selectList = new SelectList(list, "Value", "Text");
                            }
                            @Html.BootstrapDropDownListFor(m => m.Status, selectList, null)
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @{
                                Categories categories = new Categories();
                                var cateList = new SelectList(categories.FilterAll(1, 1000, ""), "Id", "CategoryName");
                            }
                            @Html.BootstrapListBoxFor(m => m.SelectedItemIds, cateList, null)
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        @Html.BootstrapSubmit()
                        @Html.BootstrapResetForm()
                    </div>
                </div>
            </div>

        }
    </div>
</div>