﻿@using (Html.BeginForm("Index", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBox("file", "", new { type = "file" })
                <input type="submit" value="Upload" />
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 10px">
            <input type="text" class="form-control" id="url" />
            <button type="button" id="saveImage" class="btn btn-primary btn-block" onclick="Uploadimage()">
                 Save Image by URL
            </button>
        </div>
        <div class="col-md-12">
            <input type="text" id="deCaptcher" value="@ViewBag.DecaptcherValue" />
            <button type="button" class="btn" data-clipboard-target="#deCaptcher">Copy</button>    
        </div>
        <p id="messageError">
            @ViewBag.Message
        </p>
    </div>
    <div class="row">
        
    </div>
} 
<script>
    var Uploadimage = function () {
        var url = $("#url").val();
        var data = new FormData;
        data.append("ImageUrl", url);
        $('#saveImage').prop('disabled', true);
        $.ajax({
            type: "Post",
            url: "/UploadFiles/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.ErrCode == 0) {
                    $("#deCaptcher").val(data.ErrMessage);
                    $("#messageError").html("Upload image success!!!");
                } else {
                    $("#messageError").html("Upload image error!!!");   
                }
                $('#saveImage').prop('disabled', false);
            }
        });
    }
</script>