﻿<div class="row">
    <div class="col-xl-4">
        <!--begin:: Widgets/Blog-->
        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
            <div class="m-portlet__head m-portlet__head--fit-">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text m--font-light">
                            Revenue
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                            <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                2017
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">
                                                        Orders
                                                    </span>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                        <span class="m-nav__link-text">
                                                            Pending
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                        <span class="m-nav__link-text">
                                                            Delivered
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                        <span class="m-nav__link-text">
                                                            Canceled
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                        <span class="m-nav__link-text">
                                                            Approved
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget27 m-portlet-fit--sides">
                    <div class="m-widget27__pic">
                        <img src="~/Content/backend/assets/app/media/img//bg/bg-4.jpg" alt="">
                        <h3 class="m-widget27__title m--font-light">
                            <span>
                                <span>
                                    $
                                </span>
                                256,100
                            </span>
                        </h3>
                        <div class="m-widget27__btn">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder">
                                Inclusive All Earnings
                            </button>
                        </div>
                    </div>
                    <div class="m-widget27__container">
                        <!-- begin::Nav pills -->
                        <ul class="m-widget27__nav-items nav nav-pills nav-fill" role="tablist">
                            <li class="m-widget27__nav-item nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#m_personal_income_quater_1">
                                    Quater 1
                                </a>
                            </li>
                            <li class="m-widget27__nav-item nav-item">
                                <a class="nav-link" data-toggle="pill" href="#m_personal_income_quater_2">
                                    Quater 2
                                </a>
                            </li>
                            <li class="m-widget27__nav-item nav-item">
                                <a class="nav-link" data-toggle="pill" href="#m_personal_income_quater_3">
                                    Quater 3
                                </a>
                            </li>
                            <li class="m-widget27__nav-item nav-item">
                                <a class="nav-link" data-toggle="pill" href="#m_personal_income_quater_4">
                                    Quater 4
                                </a>
                            </li>
                        </ul>
                        <!-- end::Nav pills -->
                        <!-- begin::Tab Content -->
                        <div class="m-widget27__tab tab-content">
                            <div id="m_personal_income_quater_1" class="tab-pane active">
                                <div class="m-widget14 m-widget14--no-padding">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget14__chart" style="height: 160px">
                                                <div class="m-widget14__stat">
                                                    45
                                                </div>
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series custom"><path d="M108.116,101.149A49.672,49.672,0,0,0,63.172,30.328" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}" style="stroke-width: 17px;" stroke-dasharray="99.87142944335938px 99.87142944335938px" stroke-dashoffset="-99.87142944335938px" stroke="#716aca"><animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-99.87142944335938px" to="0px" fill="freeze" stroke="#716aca" calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate></path></g><g class="ct-series custom"><path d="M24.899,111.662A49.672,49.672,0,0,0,108.19,100.992" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}" style="stroke-width: 17px;" stroke-dasharray="100.04583740234375px 100.04583740234375px" stroke-dashoffset="-100.04583740234375px" stroke="#00c5dc"><animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-100.04583740234375px" to="0px" fill="freeze" stroke="#00c5dc" begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate></path></g><g class="ct-series custom"><path d="M63.172,30.328A49.672,49.672,0,0,0,25.01,111.795" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}" style="stroke-width: 17px;" stroke-dasharray="112.52974700927734px 112.52974700927734px" stroke-dashoffset="-112.52974700927734px" stroke="#ffb822"><animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-112.52974700927734px" to="0px" fill="freeze" stroke="#ffb822" begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate></path></g></svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget14__legends">
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget14__legend-text">
                                                        37% Case
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget14__legend-text">
                                                        47% Events
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget14__legend-text">
                                                        19% Others
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="m_personal_income_quater_2" class="tab-pane fade">
                                <div class="m-widget14 m-widget14--no-padding">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_2" class="m-widget14__chart" style="height: 160px">
                                                <div class="m-widget14__stat">
                                                    70
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget14__legends">
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-focus"></span>
                                                    <span class="m-widget14__legend-text">
                                                        57% Orders
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-success"></span>
                                                    <span class="m-widget14__legend-text">
                                                        20% Cases
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                                    <span class="m-widget14__legend-text">
                                                        19% Others
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="m_personal_income_quater_3" class="tab-pane fade">
                                <div class="m-widget14 m-widget14--no-padding">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_3" class="m-widget14__chart" style="height: 160px">
                                                <div class="m-widget14__stat">
                                                    67
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget14__legends">
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-info"></span>
                                                    <span class="m-widget14__legend-text">
                                                        47% Case
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                                    <span class="m-widget14__legend-text">
                                                        55% Events
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget14__legend-text">
                                                        27% Others
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="m_personal_income_quater_4" class="tab-pane fade">
                                <div class="m-widget14 m-widget14--no-padding">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_4" class="m-widget14__chart" style="height: 160px">
                                                <div class="m-widget14__stat">
                                                    77
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget14__legends">
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget14__legend-text">
                                                        37% Case
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-primary"></span>
                                                    <span class="m-widget14__legend-text">
                                                        65% Events
                                                    </span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                                    <span class="m-widget14__legend-text">
                                                        33% Others
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end::Tab Content -->
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Blog-->
    </div>
    <div class="col-xl-4">
        <!--begin:: Widgets/Blog-->
        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
            <div class="m-portlet__head m-portlet__head--fit">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text m--font-light">
                            Finance Stats
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                            <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                2018
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">
                                                        Reports
                                                    </span>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                        <span class="m-nav__link-text">
                                                            Activity
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                        <span class="m-nav__link-text">
                                                            Messages
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                        <span class="m-nav__link-text">
                                                            FAQ
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                        <span class="m-nav__link-text">
                                                            Support
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget28">
                    <div class="m-widget28__pic m-widget28__pic--primary m-portlet-fit--sides"></div>
                    <div class="m-widget28__container">
                        <!-- begin::Nav pills -->
                        <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
                            <li class="m-widget28__nav-item nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#menu11">
                                    <span>
                                        <i class="fa flaticon-pie-chart"></i>
                                    </span>
                                    <span>
                                        GMI Taxes
                                    </span>
                                </a>
                            </li>
                            <li class="m-widget28__nav-item nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu21">
                                    <span>
                                        <i class="fa flaticon-file-1"></i>
                                    </span>
                                    <span>
                                        IMT Invoice
                                    </span>
                                </a>
                            </li>
                            <li class="m-widget28__nav-item nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu31">
                                    <span>
                                        <i class="fa flaticon-clipboard"></i>
                                    </span>
                                    <span>
                                        Main Notes
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- end::Nav pills -->
                        <!-- begin::Tab Content -->
                        <div class="m-widget28__tab tab-content">
                            <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                <div class="m-widget28__tab-items">
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Company Name
                                        </span>
                                        <span>
                                            SLT Back-end Solutions
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            INE Number
                                        </span>
                                        <span>
                                            D330-1234562546
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Total Charges
                                        </span>
                                        <span>
                                            USD 1,250.000
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Project Description
                                        </span>
                                        <span>
                                            Creating Back-end Components
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="menu21" class="m-widget28__tab-container tab-pane fade">
                                <div class="m-widget28__tab-items">
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Project Description
                                        </span>
                                        <span>
                                            Back-End Web Architecture
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Total Charges
                                        </span>
                                        <span>
                                            USD 2,170.000
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            INE Number
                                        </span>
                                        <span>
                                            D110-1234562546
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Company Name
                                        </span>
                                        <span>
                                            SLT Back-end Solutions
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="menu31" class="m-widget28__tab-container tab-pane fade">
                                <div class="m-widget28__tab-items">
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Total Charges
                                        </span>
                                        <span>
                                            USD 3,450.000
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Project Description
                                        </span>
                                        <span>
                                            Creating Back-end Components
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            Company Name
                                        </span>
                                        <span>
                                            SLT Back-end Solutions
                                        </span>
                                    </div>
                                    <div class="m-widget28__tab-item">
                                        <span>
                                            INE Number
                                        </span>
                                        <span>
                                            D510-7431562548
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end::Tab Content -->
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Blog-->
    </div>
    <div class="col-xl-4">
        <!--begin:: Widgets/Blog-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
            <div class="m-portlet__head m-portlet__head--fit">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-action">
                        <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                            Administrator
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget19">
                    <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides">
                        <img src="~/Content/backend/assets/app/media/img/logos/leader_icon.jpg" alt="">
                        <h3 class="m-widget19__title m--font-light">
                            Info
                        </h3>
                        <div class="m-widget19__shadow"></div>
                    </div>
                    <div class="m-widget19__content">
                        <div class="m-widget19__header">
                            <div class="m-widget19__user-img">
                                <img class="m-widget19__img" src="~/Content/backend/assets/app/media/img/users/user1.jpg" alt="">
                            </div>
                            <div class="m-widget19__info">
                                <span class="m-widget19__username">
                                    Administrator
                                </span>
                                <br>
                                <span class="m-widget19__time">
                                    administrator@gmail.com
                                </span>
                            </div>
                        </div>
                        <div class="m-widget19__body">
                            <div class="m-widget4">
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Email
                                        </span>
                                        <br>
                                        <span class="m-widget4__sub">
                                            administrator@gmail.com
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Number Phone
                                        </span>
                                        <br>
                                        <span class="m-widget4__sub">
                                            0987654312
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Blog-->
    </div>
</div>