﻿@model DashboardList
<div class="row">
    <div class="col-xl-8">
        <!--begin:: Widgets/Best Sellers-->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Top 5 Offers
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
                                This Month
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin::Content-->
                <div class="tab-content">
                    <div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
                        <!--begin::m-widget5-->
                        <div class="m-widget5">
                            @if (Model.TopOfferHasConversion.IgnoreNulls().Any())
                            {
                                foreach (var offer in Model.TopOfferHasConversion)
                                {
                                    <div class="m-widget5__item">
                                        <div class="m-widget5__pic">
                                            <img class="m-widget7__img" src="@offer.Images" alt="">
                                        </div>
                                        <div class="m-widget5__content">
                                            <h4 class="m-widget5__title">
                                                @offer.Name
                                            </h4>
                                            <span class="m-widget5__desc">
                                                @if (offer.Description.Length > 110)
                                                {
                                                    @(offer.Description.Substring(0, 110) + "...")
                                                }
                                                else
                                                {
                                                    @offer.Description
                                                }
                                            </span>
                                        </div>
                                        <div class="m-widget5__stats1">
                                            <span class="m-widget5__number">
                                                @offer.Conversion
                                            </span>
                                            <br>
                                            <span class="m-widget5__sales">
                                                Conversion
                                            </span>
                                        </div>
                                        <div class="m-widget5__stats2">
                                            <span class="m-widget5__number">
                                                @offer.Payout
                                            </span>
                                            <br>
                                            <span class="m-widget5__votes">
                                                Payout
                                            </span>
                                        </div>
                                    </div>
                                }   
                            }
                        </div>
                        <!--end::m-widget5-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
        </div>
        <!--end:: Widgets/Best Sellers-->
    </div>
    <div class="col-xl-4">
        <!--begin:: Widgets/Authors Profit-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Top 5 Affiliates
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                            <a href="javascript:void(0)" class="m-portlet__nav-link btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand" style="    background: #716aca;color: #fff;font-size: .85rem;">
                                This Month
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget4">
                    @if (Model.TopPayoutRevenueUsers.IgnoreNulls().Any())
                    {
                        foreach (var user in Model.TopPayoutRevenueUsers)
                         {
                             <div class="m-widget4__item">
                                 <div class="m-widget4__img m-widget4__img--logo">
                                     <img src="~/Content/backend/assets/app/media/img/users/LazyCrazy_1.png" alt="">
                                 </div>
                                 <div class="m-widget4__info">
                                     <span class="m-widget4__title">
                                         @user.FullName
                                     </span>
                                     <br>
                                     <span class="m-widget4__sub">
                                         @user.Email
                                     </span>
                                 </div>
                                 <span class="m-widget4__ext">
                                     <span class="m-widget4__number m--font-brand">
                                         $@(user.Payout)
                                     </span>
                                 </span>
                             </div>
                         }   
                    }
                </div>
            </div>
        </div>
        <!--end:: Widgets/Authors Profit-->
    </div>
</div>